<nav class="bg-white dark:bg-gray-800 shadow-md">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
            <a href="/" class="text-2xl font-bold text-blue-600 dark:text-blue-400">HCIPROJECT</a>
            <div class="flex items-center">
                <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.121-3.536a1 1 0 010 1.414l-.707.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM10 16a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM3.05 4.54a1 1 0 010 1.414l-.707.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zm.001 10.912l.707-.707a1 1 0 111.414 1.414l-.707.707a1 1 0 01-1.414-1.414zM16.95 4.54a1 1 0 010 1.414l.707.707a1 1 0 111.414-1.414l-.707-.707a1 1 0 01-1.414 0z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                </button>
                <% if (user) { %>
                    <span class="mr-4 text-gray-700 dark:text-gray-300">Welcome, <%= user.name %></span>
                    <a href="/dashboard" class="mr-4 px-4 py-2 bg-gray-200 dark:bg-gray-700 rounded-md hover:bg-gray-300 dark:hover:bg-gray-600">Dashboard</a>
                    <a href="/auth/logout" class="ml-4 px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">Logout</a>
                <% } else { %>
                    <a href="/auth/login" class="ml-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Login</a>
                    <a href="/auth/register" class="ml-2 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700">Register</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
